


.profile-card {
  transition: transform 0.3s ease;
}

.profile-card:hover {
  transform: translateY(-3px);
}

.profile-link {
  display: block;
  padding: 6px 0;
  border-top: 1px solid gray;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}
/* Social Media Icon */
.socialmedia {
    display: inline-block;
    font-size: 20px;
    /* Icon size */
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.socialmedia:hover {
    transform: scale(1.1);
}

