
.nav-link {
  color: rgb(88, 58, 58) !important;
  font-weight: bold;
  transition: all 0.2s ease;
}

/* Hover effect */
.nav-link:hover,
.dropdown-item:hover {
  color: #3474eb !important;
  background-color: rgba(255, 255, 255, 0.15);
}


/* Dropdown active item */
.dropdown-item.active {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.25);
  color: #000 !important;
}

/* Dropdown items - default */

/* Dropdown item hover (from white to subtle golden tone) */
.dropdown-item:hover {
  background-color: rgba(243, 173, 60, 0.25);
  color: #000;
}

/* Optional: Smooth transitions */
.navbar-nav .nav-link,
.dropdown-menu .dropdown-item {
  transition: all 0.3s ease-in-out;
}


@media (max-width: 768px) {
  .navbar-nav .nav-link, .dropdown-menu .dropdown-item  {
    color: white !important;
  }
}